.test-bg {
  background-color: lightcoral;
}

a.button-link {
  .button-image {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent url("/assets/images/tools-button-normal.svg")
      no-repeat center center;
  }
  &:hover .button-image {
    background-image: url("/assets/images/tools-button-hover.svg");
  }
  & .button-image.active {
    background-image: url("/assets/images/tools-button-click.svg");
  }
}
