<header class="test-bg">
  <span class="logo">
    <img src="assets/images/pic01.png" alt="" />
  </span>
  <span>PPT</span>
  <span>
    <select>
      <option>a</option>
      <option>b</option>
    </select>
  </span>
  <a class="button-link">
    <div class="button-image"></div>
  </a>
  <!-- <img src="assets/images/tools-button-normal.svg" alt="" /> -->

  <nz-avatar
    nz-popover
    nzPopoverTitle="Title"
    [(nzPopoverVisible)]="visible"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottomRight"
    nzSize="large"
    nzIcon="user"
  ></nz-avatar>

  <ng-template #contentTemplate>
    <a (click)="clickMe()">Close</a>
  </ng-template>
</header>
