.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

.tb-td {
  display: inline-block;
  width: 100px;
}

.reverse tree-node-expander {
  order: 0;
}
.reverse tree-node-checkbox {
  order: 1;
}
.reverse .node-content-wrapper {
  order: 2;
}