<div class="dropdown" style="display: inline-block">
  <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button> -->
  <div
    alt="Avatar"
    class="avatar"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  ></div>
  <div
    class="dropdown-menu dropdown-menu-right"
    aria-labelledby="dropdownMenu2"
  >
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
  {{ yourName }}
  <button (click)="myhello()">hello</button>

  <button (click)="publishEvent()">Publish Event</button>
  
</div>
