<!-- <nz-select ngModel="lucy">
  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
</nz-select> -->

<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-danger" disabled>Disabled</button>

<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header">
              <button aria-label="Close" class="close" type="button">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <h3 class="modal-title">I have a nice title</h3>
          </div>
          <div class="modal-body">
              <p>But not much to say...</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-outline" type="button">Cancel</button>
              <button class="btn btn-primary" type="button">Ok</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>

<!-- <app-tree-demo></app-tree-demo>

<app-table-demo></app-table-demo> -->



