<!-- NG-ZORRO -->
<button nz-button nzType="primary">Primary</button>

<nz-select ngModel="lucy">
  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
</nz-select>

<button nz-button nz-dropdown [nzDropdownMenu]="menu4">
  Button
  <i nz-icon nzType="down"></i>
</button>
<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>menu4 1st menu item</li>
    <li nz-menu-item>menu4 2nd menu item</li>
    <li nz-menu-item>menu4 3rd menu item</li>
  </ul>
</nz-dropdown-menu>