<!-- NG-ZORRO -->

<app-nuwa-header></app-nuwa-header>

<hr>
<!-- <app-ppt-list-page></app-ppt-list-page> -->

<button nz-button nzType="primary" (click)="callApi()">Primary</button>

<button nz-button nzType="primary" (click)="getTeams()">team list</button>
<button nz-button nzType="primary" (click)="getTools()">tools by team</button>


<nz-select ngModel="lucy">
  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
</nz-select>


<app-cat-dropdown></app-cat-dropdown>



